.signUpNFTContainer{
    padding: 102px 0px;
    height: 400px;
}
.signUpNFTContainer button{
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    border-radius: 50px;
    background-color: #3D00B7;
    color: white;
}
.signUpNFTContainer button:hover{
    cursor: pointer; 
    color: black;
    background-color:#757575;
}
.signUpImageContainer{
    position: relative;
}
.signUpImageContainerA{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    background: url('./../../assets/images/3.png');
    border-radius: 12px;
}
.signUpImageContainerB{
    position: absolute;
    width: 240.95px;
    height: 265.04px;
    left: 364px;
    top: 138px;
    background: url('./../../assets/images/2.png');
    border-radius: 12px;
}
.signUpImageContainerC{
    position: absolute;
    width: 194.55px;
    height: 214px;
    left: 105px;
    top: 352px;
    background: url('./../../assets/images/1.png');
    border-radius: 12px;
}
@media screen and (max-width: 425px){
    .signUpNFTContainer{
        padding: 30px;
        height: 800px;
    }
    .signUpImageContainer{
        width: 425px;
        height: 400px;
    }
    .signUpImageContainerA{
        width: 200px;
        height: 200px;
        left: 0px;
        top: 0px;
    }
    .signUpImageContainerB{
        width: 160.63px;
        height: 176.7px;
        left: 242.67px;
        top: 92px;
    }
    .signUpImageContainerC{
        width: 129.7px;
        height: 142.67px;
        left: 70px;
        top: 234.67px;
    }
    
    }